NODE_ENV=local
NEXT_PUBLIC_CLIENT_ID=
NEXT_PUBLIC_CHAIN_ID=8217
CLIENT_SECRET=
BASE_API_URL=
NEXT_PUBLIC_LIFF_ID=

# AWS Bedrock Configuration 
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=
NEXT_PUBLIC_AWS_REGION=